<%= link_to 'Home', root_path, clas: 'btn btn-primary' %>
<main>
  <div id='carousel'>
    <div class="hideLeft">
      <%= render 'card', date: @date - 4 %>
    </div>
    <div class="hideLeft">
      <%= render 'card', date: @date - 3 %>
    </div>
    <div class="hideLeft">
      <%= render 'card', date: @date - 2 %>
    </div>
    <div class="hideLeft">
      <%= render 'card', date: @date - 1 %>
    </div>
    <div class='selected'>
      <%= render 'card', date: @date %>
    </div>

    <div class='next'>
      <%= render 'card', date: @date + 1 %>
    </div>

    <div class="nextRightSecond">
      <%= render 'card', date: @date + 2 %>
    </div>

    <div class="hideRight">
      <%= render 'card', date: @date + 3 %>
    </div>
  </div>

  <div class="button-left">
    <div id='prev'>
      <
      <!-- <%= link_to '<', prev_calendar_path, remote: true %> -->
    </div>
  </div>
  <div class='button-right'>
    <div id='next'>
      >
      <!-- <%= link_to '>', next_calendar_path, remote: true %> -->
    </div>
  </div>
</main>

<script>
  function moveToSelected(element) {
    if (element == "next") {
      var selected = $(".selected").next();
    } else if (element == "prev") {
      var selected = $(".selected").prev();
    } else {
      var selected = element;
    }

    var next = $(selected).next();
    var prev = $(selected).prev();
    var prevSecond = $(prev).prev();
    var nextSecond = $(next).next();

    $(selected).removeClass().addClass("selected");

    $(next).removeClass().addClass("next");
    $(prev).removeClass().addClass('hideLeft');

    $(nextSecond).removeClass().addClass("nextRightSecond");
    $(prevSecond).removeClass().addClass('hideLeft');

    $(nextSecond).nextAll().removeClass().addClass('hideRight');
    $(prevSecond).prevAll().removeClass().addClass('hideLeft');
  }

  $(document).on('turbolinks:load', function() {
    $('#prev').click(function() {
      moveToSelected('prev');
    });

    $('#next').click(function() {
      moveToSelected('next');
    });
  })
</script>
